@import '../../../../styles/colors';

.issue-component {
  display: flex;
  align-self: center;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  position: relative;
  z-index: 2;
  .description {
    header h4 {
      display: inline-block;
      margin: 0.5rem 0 1rem 0;
    }
  }

  &:hover {
    background-color: lighten($active-background, 10%);
    transition: 0.2s;
  }

  border-bottom: 1px solid $background;
  &::after {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top: 0;
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: 1px solid lighten($background, 8%);
  }
}
