.badge-component {
  display: flex;
  align-self: center;
  margin: 0 0.1rem;
  .round-badge {
    display: flex;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    align-self: center;
    margin: 0 0.2rem;
  }
}
