$background: #151619;
$active-background: rgb(28, 29, 33);
$hover-background: lighten(rgb(28, 29, 33), 20%);



// Fonts
$standard-font: #cbcdd2;
$link: #a2a5ae;
$hovered-link: lighten(complement($link), 30%);
