@import 'colors';

html {
  height: 100%;
}

a {
  color: $link;
  &:hover {
    color: $hovered-link;
  }
}

body {
  color: $standard-font;
  background: $background;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Roboto, sans-serif;
}
