/* Base Application Styles */

body * {
  border: 1px solid rgb(237, 144, 20); // easier to develop, not made for production
}
html {
  height: 100%;
}
body {
  color: rgb(255, 255, 255);
  background: rgb(28, 32, 38);
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 450px;
}
