/* Base Application Styles */
@import 'colors';
body * {
  // border: 1px solid rgb(237, 144, 20); // easier to develop, not made for production
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
