.smart-links-component {
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    align-self: center;
    margin: 0.2rem 0.3rem;
    color: black;
    text-decoration: none;
  }
}
