import baseConfig from './base.env'


const config = {
  auth0: {
    CLIENT_ID: '',
    CLIENT_DOMAIN: '',
    CLIENT_SECRET: ''
  }
}

export default Object.freeze(Object.assign({}, baseConfig, config))
