@import '../../styles/variables.scss';

.root * {
  display: flex;
}

.root {
  flex-direction: column;
  position: absolute;
  background: rgb(20, 140, 199);
  min-width: 10rem;
  right: 50%;
  margin-right: -5rem;
}

.menu {
  flex-direction: column;
  margin: 0;
  padding: 0.1rem 0;
}

.menuSection {
  flex-direction: column;
  margin: 0;
  padding: 0.3rem 0 0 0.4rem;
}

.sectionHeadingTitle {
  // padding: 0.3rem 0 0 0.6rem;
}

.menuLink {
  color: white;
  padding: 0.3rem 0;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.menuItem {
  padding: 0.3rem 0 0 0.7rem;
}
