.issues-tabs-component {
  position: relative;
  header {
    margin-left: 0.5rem;
  }
  .tabs {
    position: absolute;
    bottom: 0;
    right: 0;
    header {
      margin-top: 0.3rem;
    }
  }
}
