.sidebar-component {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  border-left: 1px solid rgb(80, 23, 177);
  border-top: 1px solid rgb(80, 23, 177);
  height: 100%;
  min-height: 100%;
}
