.setting-option-component {
  display: flex;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.2rem;
  border: 1px solid black;
  border-bottom: 0;
  &:first-child {
    border-radius: 5px 5px 0 0;
  }
  &:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid black;
  }
  &:hover {
    background-color: grey;
  }
}
