.logo-name-component {
  display: flex;
  justify-content: space-between;
  & * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
  }
}
