@import '../../../../styles/colors';

.custom-filter-component {
  position: absolute;
  width: 100%;
  min-height: 600px;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
  &.active {
    opacity: 1;
    height: 100%;
  }
}

.custom-filters {
  display: block;
  width: 100%;
  min-height: 150px;
  list-style: none;
  background-color: $active-background;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  .custom-filter {
    border-bottom: 1px solid $background;
    &:hover {
      background-color: $hover-background;
    }
  }
}
