@import '../../../../styles/utils';
@import '../../../../styles/colors';

.main-component {
  display: flex;
  min-width: 75%;
  min-height: 100%;
  height: auto;
  @include double-border('right', 1, 'solid', lighten($background, 10%));
  .component {
    display: none;
    min-height: 100%;
    height: auto;
    opacity: 0;
    flex-direction: column;
    &.active {
      display: flex;
      opacity: 1;
    }
  }
}
